/* Fuente de Texto Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}
/* Variables de colores */
:root{
    --color-contenido: #1a1e21;
    --color-secundario: #fd8f44;
    --color-texto: #172317;
    --color-bg: #fff;
}

::selection{
    color: var(--color-bg);
    background: var(--color-secundario);
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    width: 100%;
}

section{
    padding: 3rem 0 2rem;
}

/* Estilo del encabezado */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}

/* Cambio de encabezado por medio del scroll */
header.shadow{
    background: var(--color-bg);
    box-shadow: 0 1px 4px hsl(0 4% 14% / 10%);
    transition: 0.4s;
}

header.shadow .logo{
    color: var(--color-texto);
}

.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}

.logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-bg);
}

.logo span{
    color: var(--color-secundario);
}


.back{
    padding: 8px 14px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 4px;
    background: var(--color-secundario);
    color: var(--color-bg);
}
.back:hover{
    background: hsl(24, 98%, 58%);
    transition: 0.3s;
}
 

/* Estilo del inicio */
.home{
    width: 100%;
    min-height: 440px;
    background: var(--color-contenido);
    display: grid;
    justify-content: center;
    align-items: center;
}

.home-text{
    color: var(--color-bg);
    text-align: center;
}

.home-title{
    font-size: 3.5rem;
}

.home-subtitle{
    font-size: 1rem;
    font-weight: 400;
}

/* Estilo de los Filtros */
.post-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    margin-top: 2rem !important;
}

.filter-item{
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}

.active-filter{
    background: var(--color-secundario);
    color: var(--color-bg);
    padding: 4px 10px;
    border-radius: 4px;
}

/* Estilo del Encriptador */

.encrip textarea{
    display: inline-block;
    margin: 20px;
    align-items: center;
    resize: none;
}

#texto{
    left: 12%;
    font-size: 20px;
    font-style: normal;
    line-height: 150%;
    border: none;
    
}

#texto::placeholder{
    font-size: 20px;
    color: var(--color-texto);
}

#texto:focus,
#texto:active{
    border: none;
    outline: none;
}

#encriptador{
    border: solid;
    border-color: var(--color-secundario);
    border-style: ridge;
    font-size: 20px;
    font-style: normal;
}

.btn-encrip button{
    padding: 10px 5px;
    text-transform: capitalize;
    font-weight: 200;
    border-radius: 10px;
    background: var(--color-secundario);
    color: var(--color-bg);
}

/* Estilos de Footer */

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.footer p{
    font-size: 0.938rem;
}

.social{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.social .bx{
    font-size: 1.4rem;
    color: var(--color-texto);
}

.social .bx:hover{
    color: var(--color-secundario);
    transition: 0.3s all linear;
}